{{ define "indexpage" }}
<div id="app">
  {{ template "navbar" .Navbar }}
  <div class="container-sm">
    <div class="row justify-content-center mt-2">
      <div class="col-4 my-4">
        <div class="card">
          <div class="card-header">
            <a href="#">
              <h5 class="card-title">Проверка названия блога 1</h5>
            </a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="/public/images/animals.png" class="card-img" alt=""></li>
          </ul>
          <div class="card-body">
            <p class="card-text">
              Test проверка текста Test проверка текстаTest проверка текста Test проверка текстаTest проверка текста Test проверка текстаTest проверка текста Test проверка текста
            </p>
          </div>
          <div class="card-footer text-muted">
            2021-07-01T06:50:02.000Z
          </div>
        </div>
      </div>
      <div class="col-4 my-4" hx-get="/doms/servercard" hx-trigger="load" hx-target="this">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
