{{ define "register" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    <div class="pusher">
        <div style="height: 100%">
            {{ template "topmenu" }}
            <div class="ts narrow container relaxed stackable grid cnt0">
                <div class="column">
                    <h1 class="ts header cth0">Register a New Account</h1>
                    <form action="" method="post" class="ts tiny form">
                        <div class="field">
                            <label> Username & Display name </label>
                            <input type="text" name="">
                        </div>
                        <div class="field">
                            <label> Password </label>
                            <input type="password" name="">
                        </div>
                        <div class="field">
                            <label> Confirm Password </label>
                            <input type="password" name="">
                        </div>
                        <div class="field">
                            <label> Email </label>
                            <input type="email" name="">
                        </div>
                        <button class="ts button"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
</body>

</html>
{{ end }}
