{{ define "register" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body>
    <div class="pusher">
        <div style="height: 100%">
            {{ template "topmenu" }}
            <div class="column">
                <div class="ts form" style="margin-left: 1em;">
                    <h1 class="ts header cth0">Register a New Account</h1>
                    <div class="info container">
                    </div>
                    <div class="field">
                        <label> Username & Display name </label>
                        <div class="ts input name">
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="field">
                        <label> Password </label>
                        <div class="ts input password">
                            <input type="password" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <label> Confirm Password </label>
                        <div class="ts input passwordConfirmation">
                            <input type="password" name="passwordConfirmation">
                        </div>
                    </div>
                    <div class="field">
                        <label> Email </label>
                        <div class="ts input email">
                            <input type="email" name="email">
                        </div>
                    </div>
                    <button class="ts button"> Submit </button>
                </div>
            </div>
        </div>
        <div class="ts top left snackbar">
            <div class="content">
            </div>
            <a class="primary action"></a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
    <script src="/public/js/register.js"></script>
</body>

</html>
{{ end }}
