{{ define "topmenu" }}
<div class="ts fluid top attached horizontally scrollable link basic menu inverted ctm0">
    <div class="ts narrow container ctmc0">
        <img class="ts image ci0" src="/public/images/golosovanie_logo.png">
        <a href="#" class="item cti0">Home</a>
        <a href="#" class="item cti0">Servers</a>
        <a href="#" class="item cti0">Community</a>
        <a href="#" class="item cti0">Store</a>
        <a href="#" class="item cti0">Profile</a>
        <a href="#" class="item cti0">Help</a>
        <div class="right menu">
            <a href="/login" class="item cti0" style="color: #aaf;">Log in</a>
            <div class="item" style="margin-left: 4px;">|</div>
            <a href="/register" class="item" style="color: #aaf;margin-left: 4px;">Sign up</a>
        </div>
    </div>
</div>
{{ end }}
